@font-face {
  font-family: 'Pokemon Hollow';
  src: url('./assets/pokmon/Pokemon_Hollow.woff2') format('woff2'),
    url('./assets/pokmon/Pokemon_Hollow.woff') format('woff'),
    url('./assets/pokmon/Pokemon_Hollow.ttf') format('truetype');
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('./assets/pokmon/Pokemon_Solid.woff2') format('woff2'),
    url('./assets/pokmon/Pokemon_Solid.woff') format('woff'),
    url('./assets/pokmon/Pokemon_Solid.ttf') format('truetype');
}

* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}


html,
body,
main,
#root {
  width: 100%;
  height: 100%;
}